/* Allgemeines Layout */
		html, body {
			margin: 0;
			padding: 0;
			heigth: 100%; /* Die Höhe des Viewports soll immer 100% betragen */
			font-family: "open sans";
			display: flex;
			flex-direction: column;
			overflow: hidden; /* Verhindert das Scrollen der Seite */
		}

/* Hintergrundvideo */
		#backgroundVideo {
			position: fixed; /* Fixiert das Hintergrundvideo */
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover; 
			z-index: -1; /* Setzt das Video hinter den Inhalt */
		}

/* Hauptinhalt */
		main {
			display: flex;
			flex-direction: column;
			align-items: left;
			justify-content: left;
			height: 100%; /* Höhe des Hauptinhalts anpassen */
			padding: 20px;
			z-index: 1; /* Inhalt wird über dem Video angezeigt */
			overflow: hidden; /* Verhindert Scrollen */
		}

/* Gelbe Hintergründe für die spezifischen Abschnitte */
		.vorspann, .mission, .energieretter {
			background-color: #e8a723; /* Gelber Hintergrund */
			color: #285238; /* Grüne Schriftfarbe */
			padding: 20px;
			margin: 20px;
			width: 100%; /* Stellt sicher, dass der Abschnitt die gesamte Breite einnimmt */
			text-align: center;
			font-family: "open sans";
			border-radius: 5px; /* Optional: Runde Ecken für den Abschnitt */
		}

/* Start-Button und andere Layout-Elemente */
		.STARTBUTTON {
			position: sticky;
			justify-content: center;
			background-color: transparent;
			font-family: "Bangers";
			font-size: 12rem;
			line-height: 1.2;
			color: #e8a723;
			border: none;
			top: 5rem;
			align-items: center;
			text-align: center;
			transition: all 1s;
			width: 800px;
		}

/* Navigation Styling */
		.navbar-custom {
			background-color: #285238; /* Dunkelgrün */
			display: flex;
			align-items: center;
			justify-content: space-between; /* Trennung zwischen Brand und Menu */
			padding: 15px 20px; /* Erhöhte Höhe der Navbar */
			position: fixed; /* Fixiert die Navigation oben */
			top: 0; /* Setzt sie an den oberen Rand */
			left: 0;
			right: 0;
			z-index: 10; /* Über dem Hintergrundvideo */
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schattierung für die Navigation */
		}

	/* Brand-Logo in der Navigation */
		.navbar-brand {
			font-family: 'Bangers';
			font-size: 2rem;
			color: #e8a723; /* Gelb */
			text-decoration: none;
			margin-left: 10px;
			letter-spacing: 0.05em;
		}

		.navbar-brand:hover {
			color: white;
		}


		.UEBERSCHRIFT{
			font-family: "bangers";
			font-size:1.7rem;
			color: #e8a723;
			text-decoration: none;
			background-color: transparent;
			box-shadow: none;
			border:0;
			letter-spacing: 0.05em;
		}

		.UEBERSCHRIFT:hover{
			color:white;
		}

		.UNTERUEBERSCHRIFT{
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
		}

	/* Menülinks in der Navigation */
		.menu {
			display: flex;
			gap: 20px;
			align-items: center;
			font-family: "bangers"; /* Helvetica für Menütexte */
		}

		.menu-link {
			color: white;
			text-decoration: none;
			font-size: 1rem;
			padding: 5px 10px;
			border-radius: 5px;
			transition: background-color 0.3s ease-in-out, color 0.3s;
		}

		.menu-link:hover {
			background-color: #e8a723; /* Gelber Hover-Effekt */
			color: #285238; /* Dunkelgrün */
		}

/* Dropdown Menü Styling */
		.dropdown {
			position: relative;
		}

		.dropbtn {
			background: none;
			border: none;
			color: white;
			cursor: pointer;
			font-size: 1rem;
			padding: 5px 10px;
			border-radius: 5px;
			transition: background-color 0.3s ease-in-out, color 0.3s;
		}

		.dropbtn:hover {
			background-color: #e8a723; /* Gelber Hover-Effekt */
			color: #285238; /* Dunkelgrün */
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: white;
			min-width: 150px;
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			top: 100%;
			left: 0;
			z-index: 3;
		}

		.dropdown-content a {
			color: #285238; /* Dunkelgrün */
			text-decoration: none;
			display: block;
			padding: 10px;
			font-size: 0.9rem;
		}

		.dropdown-content a:hover {
			background-color: #e8a723; /* Gelber Hover-Effekt */
			color: #285238;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}


/*allgemein Weltkarten-Styles*/

		.WELT{
			position:absolute;
			top:5%;
			left:0%;
			width:100%;
			height:auto;
		}

		.PUNKT{
			height: 25px;
			width: 25px;
			border-radius: 40%;
			background-color: #e8a723;
			z-index: 3;
		}
		
		.PUNKT:hover{
			cursor: url('../../images/InfoI.gif'),auto;
			background-color: brown;
		}


/*Superhelden-Auswahl*/

				
		.SCHRIFTZUG-AUSWAHL{
			position: absolute;
			top: 40%;
			left: 8%;
			font-family: "bangers";
			font-size: 5rem;
			color: #e8a723;
			line-height: 1.1;
			letter-spacing: 0.05em;
			}
		
		.BILD-AUSWAHL{
			position: fixed;
			height: 30%;
			width: auto;
			margin: 5rem;
			}
		
		.BILDINFOBOX-SCARLET-AUSWAHL{
			position: absolute;
			bottom:12%;
			left: 5%;
			height:70%;
			width: auto;
			visibility: hidden;
			}
		
		.BILDINFOBOX-KNIGHT-AUSWAHL{
			position: absolute;
			bottom:12%;
			left: 5%;
			height:70%;
			width: auto;
			transform: rotateY(0deg);
			animation-name: FLIEGENAUSWAHL;						/* Name (keyframe) */
			animation-duration: 2s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: 1;					/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: paused;					/* für JavaScript (running, paused) */
			z-index:5;
		}
		
		@keyframes FLIEGENAUSWAHL {
			49.99% {
				bottom:50%;
				left: 60%;
				transform: rotateY(0deg);
			}
			50% {
				bottom:50%;
				left: 60%;
				transform: rotateY(180deg);
			}
			
			75%{
				bottom:12%;
				left: 60%;
				transform: rotateY(180deg);
			}
			
			99.99%{
				bottom:12%;
				left: 5%;
				transform: rotateY(180deg);
			}
			
			100% {
				bottom:12%;
				left: 5%;
				transform: rotateY(0deg);
			}
		}
		
		.BILDINFOBOX-BLAZE-AUSWAHL{
			position: absolute;
			bottom:12%;
			left: 10%;
			height:75%;
			width: auto;
			transform: rotateY(180deg);
		}
		
		.BLUMEN-INFOBOX-AUSWAHL{
			position: absolute;
			bottom:0%;
			left: 3%;
			height:50%;
			width: auto;
			visibility:hidden;
			z-index:5;
		}
		
		.BILDINFOBOX-THUNDER-AUSWAHL{
			position: absolute;
			bottom:12%;
			left: 10%;
			height:70%;
			width: auto;
			animation-name: RENNENAUSWAHL;							/* Name (keyframe) */
			animation-duration: 0.2s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: 1;					/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: paused;					/* für JavaScript (running, paused) */
			z-index:5;
		}
		
		@keyframes RENNENAUSWAHL{
			49.99% {
				bottom:12%;
				left: 90%;
				transform: rotateY(0deg);
			}
			50% {
				bottom:12%;
				left: 90%;
				transform: rotateY(180deg);
			}
			
			99.99%{
				bottom:12%;
				left: 10%;
				transform: rotateY(180deg);
			}
			
			100% {
				bottom:12%;
				left: 10%;
				transform: rotateY(0deg);
			}
		}
		
		.BILDINFOBOX-TITAN-AUSWAHL{
			position: absolute;
			bottom:12%;
			left: 10%;
			height:70%;
			width: auto;
			z-index:6;
		}

		.RAHMEN-INFO{
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: none;
			box-shadow: none;
			visibility:hidden;
			z-index:6;
		}
		
		.BLACKSCREEN{
			position: absolute;
			top:0%;
			left: 0%;
			height:100%;
			width: 100%;
			visibility: hidden;
			z-index:4;
			overflow: hidden;
		}
		
		.BILDINFOBOX-SONIC-AUSWAHL{
			position: absolute;
			bottom:15%;
			left: 20%;
			height:68%;
			width: auto;
			z-index:5;
			}
		
		.SCHUTZSCHILD-AUSWAHL{
			position: absolute;
			bottom:1%;
			left: 1%;
			height:96%;
			width: auto;
			visibility: hidden;
			opacity: 0.3;
			z-index:3;
			animation-name: DREHENAUSWAHL;							/* Name (keyframe) */
			animation-duration: 5s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: infinite;			/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: running;
		}
		
		
		@keyframes DREHENAUSWAHL {									/* Prozentwerte beziehen sich auf die Dauer der Animation */
			50% {											/* bei 50% der Dauer werden die folgenden Deklarationen dargestellt */
				transform: rotate(180deg);
			}
			100% {											/* bei 100% der Dauer werden die folgenden Deklarationen dargestellt */
				transform: rotate(360deg);
			}
		}

		.TEXTBLOCK-AUSWAHL{
			position: absolute;
			top: 21%;
			left: 50%;
			height: auto;
			width: 43%;
			z-index:4;
			}
		
		.NAME-AUSWAHL{
			position: absolute;
			top: 8%;
			left: 50%;
			font-family: "bangers";
			color: #e8a723;
			font-size: 4rem;
			letter-spacing: 0.05em;
			text-align: left;
			}
		
		.TITEL-AUSWAHL{
			font-family: "open sans";
			color: #285238;
			font-size: 1.5rem;
			text-align: left;
			}
		
		.TEXT-AUSWAHL{
			font-family: "open sans";
			color: #285238;
			font-size: 1.5rem;
			text-align: justify;
			}
		
				
		.AUSWAHL{
			position: absolute;
			padding: 8px;
			bottom: 7%;
			right: 23%;
			font-family: "bangers";
			font-size: 2rem;
			color: #e8a723;
			letter-spacing: 0.05em;
			border: 2px solid #285238;
			border-radius: 5px;
			background-color: #285238;
			cursor: pointer;
			z-index:4;
			}
		
		.AUSWAHL:hover{
			color: #285238;
			background-color: #45a049;
			border: 2px solid #285238;
			}
		
		.AUSWAHL-TITAN{
			position: absolute;
			padding: 8px;
			bottom: 7%;
			right: 23%;
			font-family: "bangers";
			font-size: 2rem;
			color: #e8a723;
			letter-spacing: 0.05em;
			border: 2px solid #285238;
			border-radius: 5px;
			background-color: #285238;
			cursor: pointer;
			visibility: hidden;
			z-index:4;
			}
		
		.AUSWAHL-TITAN:hover{
			color: #285238;
			background-color: #45a049;
			border: 2px solid #285238;
			}

		.SCARLETSHADE {
			position: absolute;
			top: 10%;
			left: 40%;
			cursor: pointer;
			}
		
				
		.GOLDENKNIGHT {
			position: absolute;
			top: 10%;
			left: 60%;
			cursor: pointer;
			}
		
		.GREENBLAZE {
			position: absolute;
			top: 10%;
			left: 80%;
			cursor: pointer;
			}
		
		.THUNDERBOLT {
			position: absolute;
			top: 50%;
			left: 35%;
			cursor: pointer;
			}
		
		.CYBERTITAN {
			position: absolute;
			top: 50%;
			left: 55%;
			cursor: pointer;
			}
		
		.SONICSHIELD {
			position: absolute;
			top: 50%;
			left:75%;
			cursor: pointer;
			}
		
		.INFOSCARLETSHADE {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}
		
		
		.INFOGOLDENKNIGHT {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}
		
		
		.INFOGREENBLAZE {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}
		
		
		.INFOTHUNDERBOLT {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}
		
		
		.INFOCYBERTITAN {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}

		
		.INFOSONICSHIELD {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			}	
		
		
		#buttonSCS{
			position: absolute;
			right:20px;
			top: 20px;	
			}
		
		#buttonGK{
			position: absolute;
			right:20px;
			top: 20px;	
			}
		
		#buttonGB{
			position: absolute;
			right:20px;
			top: 20px;	
			}
		
		#buttonTB{
			position: absolute;
			right:20px;
			top: 20px;	
			}
		
		#buttonCT{
			position: absolute;
			right:20px;
			top: 20px;	
			}

		.TITAN-ZU{
			visibility: hidden;
		}
		
		#buttonSOS{
			position: absolute;
			right:20px;
			top: 20px;	
			}


/*Styles Klima-Schäden-Seiten*/
		h1{
			font-family: "open sans";
			color:#e8a723;
			font-size: 2rem;
			padding: 0px;
			margin: 0px;
			margin-bottom: 20px;
		}
	
		.INFOBOX-KLIMA {
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			visibility:visible;
			z-index:4;
			}

		.TEXT-KLIMA{
			position: absolute;
			top: 7%;
			left: 50%;
			height: auto;
			width: 45%;
			font-family: "open sans";
			color: #285238;
			font-size: 1.7rem;
			text-align: left;
		}
		
		.KARTE-ANSEHEN{
			position: absolute;
			padding: 15px 20px;
			bottom: 7%;
			right: 23%;
			font-family: "bangers";
			font-size: 2rem;
			color: #e8a723;
			letter-spacing: 0.05em;
			border: 2px solid #285238;
			border-radius: 5px;
			background-color: #285238;
			cursor: pointer;
			}
		
		.KARTE-ANSEHEN:hover{
			color: #285238;
			background-color: #45a049;
			border: 2px solid #285238;
			}
		
		
		.SPRECHBLASE-KLIMA {
			position: absolute;
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
			bottom:29%;
			left:14%;
			height:auto;
			width: 10%;
			border-radius: 20px 20px 20px 0px;
			background-color: white;
			box-shadow: 5px 5px 10px 0px gray;
			font-family: "open sans";
			font-size: 1.3rem;
			color:#285238;
			text-align: left;
			visibility: hidden;
			z-index:3;
			}
		
		.LOS-KLIMA{
			position: absolute;
			bottom: 8%;
			left: 18%;
			display: inline-block;
            padding: 15px 20px;
            font-family: 'Bangers';
            font-size: 2rem;
			text-decoration: none;
			letter-spacing: 0.05em;
            color: #e8a723;
            background-color: #285238;
			border: 2px;
			border-color: white;
            border-radius: 8px;	
			cursor: pointer;
			visibility: hidden;
			z-index:3;
		}
		
		.LOS-KLIMA:hover{
			color: #285238;
			background-color: #45a049;
			border: 2px solid #285238;
		}
				
		.EUROPA-KLIMA{
			position:absolute;
			top: 27%;
			left:50%;
		}
		
		.INFOEUROPA-KLIMA{
			position: absolute;
			top: 28%;
			left:52%;
			height: auto;
			width: 25%;
			padding-top:10%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.CHINA-KLIMA{
			position:absolute;
			top: 27%;
			left:71%;
		}
		
		.INFOCHINA-KLIMA{
			position: absolute;
			top: 28%;
			right:30%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.SUEDOSTASIEN-KLIMA{
			position:absolute;
			top: 50%;
			left:82%;
		}
		
		.INFOSUEDOSTASIEN-KLIMA{
			position: absolute;
			bottom: 10%;
			right:19%;
			height: auto;
			width: 40%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.AUSTRALIEN-KLIMA{
			position:absolute;
			bottom:33%;
			right:12%;
		}
		
		.INFOAUSTRALIEN-KLIMA{
			position: absolute;
			bottom:15%;
			right:14%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.ANTARKTIS-KLIMA{
			position:absolute;
			bottom:4%;
			right:23%;
		}
		
		.INFOANTARKTIS-KLIMA{
			position: absolute;
			bottom:8%;
			right:25%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
	
		.CHILE-KLIMA{
			position:absolute;
			top: 70%;
			left:30.5%;
		}
		
		.INFOCHILE-KLIMA{
			position: absolute;
			bottom:15%;
			left:33%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.AMAZONAS-KLIMA{
			position:absolute;
			top: 53%;
			left:32%;
		}
		
		.INFOAMAZONAS-KLIMA{
			position: absolute;
			bottom:25%;
			left:34%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.ATLANTIK-KLIMA{
			position:absolute;
			top: 35%;
			left:38%;
		}
		
		.INFOATLANTIK-KLIMA{
			position: absolute;
			top: 25%;
			left:40%;
			height:auto;
			width: 35%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.KANADA-KLIMA{
			position:absolute;
			top: 12%;
			left:38%;
		}
		
		.INFOKANADA-KLIMA{
			position: absolute;
			top: 17%;
			left:38%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
		.USA-KLIMA{
			position:absolute;
			top: 33%;
			left:25%;
		}
		
		.INFOUSA-KLIMA{
			position: absolute;
			top: 25%;
			left:27%;
			height: auto;
			width: 30%;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
				
		.AFRIKA-KLIMA{
			position:absolute;
			top: 41%;
			left:50%;
		}
		
		.INFOAFRIKA-KLIMA{
			position: absolute;
			top: 39%;
			left:52%;
			height: auto;
			width: 30%;
			padding-top: 5px;
			padding: 40px;
			font-family: "open sans";
			font-size: 1.5rem;
			color: #285238;
			text-align: left;
			background-color: white;
			border-radius: 20px 20px 20px 20px;
			box-shadow: 5px 5px 10px 0px gray;
			visibility: hidden;
			z-index:5;
		}
		
/*Superhelden*/
	
	/*Scarlet*/


	/*Knight*/

	/*Blaze*/

		.BILDINFOBOX-BLAZE{
			position: absolute;
			bottom:12%;
			left: 10%;
			height:75%;
			width: auto;
			transform: rotateY(180deg);
			visibility: visible;
			}
		
		.BLUMEN-INFOBOX{
			position: absolute;
			bottom:0%;
			left: 3%;
			height:50%;
			width: auto;
			visibility:hidden;
			z-index:5;
			}

		.BLAZE{
			position:absolute;
			bottom:4%;
			left: 2%;
			height:35%;
			width:auto;
			transform: rotateY(180deg);
			visibility: hidden;		
		}
		
		.BLUMEN{
			position:absolute;
			bottom:0%;
			left: 0%;
			height:23%;
			width:auto;
			visibility: hidden;		
		}

	/*Tunder*/

		.BILDINFOBOX-THUNDER{
			position: absolute;
			bottom:10%;
			left: 7%;
			height:70%;
			width: auto;
			visibility: visible;
			animation-name: RENNEN;							/* Name (keyframe) */
			animation-duration: 0.2s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: 1;					/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: paused;					/* für JavaScript (running, paused) */
			z-index:5;
		}
		
		@keyframes RENNEN{
			49.99% {
				bottom:10%;
				left: 90%;
				transform: rotateY(0deg);
			}
			50% {
				bottom:10%;
				left: 90%;
				transform: rotateY(180deg);
			}
			
			99.99%{
				bottom:10%;
				left: 7%;
				transform: rotateY(180deg);
			}
			
			100% {
				bottom:10%;
				left: 7%;
				transform: rotateY(0deg);
			}
		}
		
		.THUNDER{
			position:absolute;
			bottom:4%;
			left: 2%;
			height:35%;
			background-color: transparent;
			border:5px;
			border-color: transparent;
			visibility: hidden;		
			animation-name: RENNEN;							/* Name (keyframe) */
			animation-duration: 0.2s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: 1;					/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: paused;					/* für JavaScript (running, paused) */
			z-index:5;
		}
		
		@keyframes RENNEN{
			49.99% {
				bottom:4%;
				left: 90%;
				transform: rotateY(0deg);
			}
			50% {
				bottom:4%;
				left: 90%;
				transform: rotateY(180deg);
			}
			
			99.99%{
				bottom:4%;
				left: 2%;
				transform: rotateY(180deg);
			}
			
			100% {
				bottom:4%;
				left: 2%;
				transform: rotateY(0deg);
			}
		}

	/*Titan*/
		
		.RAHMEN{
			flex-direction: row;
			position: absolute;
			padding: 30px;
			top: 15%;
			left: 25%;
			height:60%;
			width: 50%;
			border-radius: 20px 20px 20px 20px;
			background-color: none;
			box-shadow: none;
			visibility:visible;
			z-index:6;
		}
		

		.BILDINFOBOX-TITAN{
			position: absolute;
			bottom:12%;
			left: 8%;
			height:70%;
			width: auto;
			visibility: visible;
			z-index:6;
		}

		.TITAN{
			position:absolute;
			bottom:4%;
			left: 2%;
			height:35%;
			background-color: transparent;
			border:5px;
			border-color: transparent;
			visibility: hidden;
			z-index:6;
		}
		
		.BLACKSCREEN{
			position: absolute;
			top:0%;
			left: 0%;
			height:100%;
			width: 100%;
			visibility: hidden;
			z-index:5;
			overflow: hidden;
		}

	/*Sonic*/

		.BILDINFOBOX-SONIC{
			position: absolute;
			bottom:15%;
			left: 20%;
			height:68%;
			width: auto;
			z-index:5;
			}
		
		.SCHUTZSCHILD{
			position: absolute;
			bottom:1%;
			left: 1%;
			height:96%;
			width: auto;
			visibility: hidden;
			opacity: 0.3;
			z-index:3;
			animation-name: DREHEN;							/* Name (keyframe) */
			animation-duration: 5s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: infinite;			/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: running;
		}

		.SONIC{
			position:absolute;
			bottom:5.5%;
			left: 5.5%;
			height:35%;
			background-color: transparent;
			border:5px;
			border-color: transparent;
			visibility: hidden;		
		}
		
		.SCHUTZSCHILD-GROSS{
			position: absolute;
			bottom:-2.5%;
			left: -2.5%;
			height:50%;
			width: auto;
			visibility: hidden;
			opacity: 0.3;
			z-index:2;
			animation-name: DREHEN;							/* Name (keyframe) */
			animation-duration: 5s;							/* Dauer (n) */
			animation-timing-function: linear;				/* Geschwindigkeit (ease, ease-in, ease-out, ease-in-out, linear) */
			animation-delay: 0s;							/* Verzögerung (n) */
			animation-iteration-count: infinite;			/* Wiederholungen (n, infinite) */
			animation-direction: normal;					/* Abspielrichtung (normal, reverse, alternate, alternate-reverse) */
			animation-fill-mode: none;						/* Endzustand (none, forwards, backwards, both) */
			animation-play-state: running;
		}
		
		@keyframes DREHEN {									/* Prozentwerte beziehen sich auf die Dauer der Animation */
			50% {											/* bei 50% der Dauer werden die folgenden Deklarationen dargestellt */
				transform: rotate(180deg);
			}
			100% {											/* bei 100% der Dauer werden die folgenden Deklarationen dargestellt */
				transform: rotate(360deg);
			}
		}
			
		.ZEIGEN{
			visibility: visible;
		}
		
		.WEG{
			visibility: hidden;
		}

		