@charset "UTF-8";
/* Flexibles Layout für den gesamten Body */
@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav{
	height: 8%;
}
/* Hauptinhalt zentrieren */
		main {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background-image: url("../../images/weltall/galxie_illustration.jpg");
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  overflow: hidden;
			z-index: 0;
		}

	

/*Gestaltung Navigation*/

	  /* Navbar-Hintergrundfarbe Grün */
		.navbar-custom {
			background-color: #285238;
	  		}

	  /* Link-Styling für die linke Seite der Navbar */
		.navbar-brand {
			font-family: 'Bangers', sans-serif; 				/* Schriftart für die Marke */
			color: #E8A723 !important;          				/* Farbe für die Marke */
	  	}

	  /* Hintergrundfarbe für Dropdown-Menüs */
		.dropdown-menu {
			background-color: #285238;
	  	}

	  /* Dropdown-Menü-Links Styling */
		.dropdown-item {
			color: #E8A723;
	  	}

	  /* Hover-Effekt für Dropdown-Links */
		.dropdown-item:hover {
			background-color: #E8A723;
			color: #285238;
	 	}

	  /* Rahmen um die Navigationselemente */
		.nav-link {
			border: 2px solid white; 						/* Weißer Rahmen */
			border-radius: 5px; 							/* Abgerundete Ecken */
			padding: 5px 15px; 								/* Innenabstand */
			margin-right: 20px; 							/* Abstand zwischen den Links */
			transition: border-color 0.3s, color 0.3s; 		/* Sanfter Übergang für die Rahmenfarbe und Textfarbe */
			color: white; 									/* Setze die Standardfarbe für die Links auf Weiß */
		  }

	  /* Rahmenfarbe und Textfarbe bei Hover */
		.nav-link:hover {
			border-color: #e8a723; 							/* Gelbe Rahmenfarbe bei Hover */
			color: white; 									/* Textfarbe bleibt weiß */
		  }

	  /* Übersteuere die text-white Klasse */
		.nav-link.text-white {
			color: white !important; 						/* Sicherstellen, dass die Links weiß sind */
		  }


/* Gestaltung Footer */

	/* Fixed footer at the bottom */
		.footer-custom {
		  position: fixed;
		  bottom: 0;
		  left: 0;
			height: 8%;
		  width: 100%;
		  background-color: #285238;
		  color: #E8A723;
		  padding: 10px 20px;
		  text-align: right;
			z-index: 4;
		}

	/* Link styling in the footer */
		.footer-link {
			font-family: "bangers";
		  	color: #E8A723;
		  	text-decoration: none;
			}

		.footer-link:hover {
		  text-decoration: underline;
		}


		